<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form action="/kakao/auth" method="get">
        <button type="submit" style="background-color: transparent; border: 0px;"><img src="../kakao_signin.jpg" style="width: 200px; height: 50px;"></button>
    </form>
    <form action="/naver/auth" method="get">
        <button type="submit" style="background-color: transparent; border: 0px;"><img src="../btnG_완성형.png" style="width: 200px; height: 50px;"></button>
    </form>
    <form action="/google/auth" method="get">
        <button type="submit" style="background-color: transparent; border: 0px;"><img src="../google버튼.png" style="width: 200px; height: 50px;"></button>
    </form>
    <form action="/facebook/auth" method="get">
        <button type="submit" style="background-color: transparent; border: 0px;"><img src="../facebook.png" style="width: 200px; height: 50px;"></button>
    </form>
    <form action="/instagram/auth" method="get">
        <button type="submit" style="background-color: transparent; border: 0px;"><img src="../인스타그램.png" style="width: 200px; height: 50px;"></button>
    </form>
</body>
</html>